#splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
  transition: transform 1s ease;
}

#splash h1{
    color: white;
}

.logoS{
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;

}

.logoS.active{
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;

}

.logoS.fade{
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

#splash.slide-up {
  transform: translateY(-100%);
  
}


/* Spinner */
.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #fff;
  border-top: 5px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-top: 20px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.main1text {
    opacity: 0;
    transform: translateY(100px);
    animation: slideUpFade 2.5s ease-out forwards;
}

@keyframes slideUpFade {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}