@media (max-width: 768px) {

    html,
    body {
        width: 100vw;
        overflow-x: hidden;
        box-sizing: border-box;

    }

    .main1 {
        height: 90vh;
    }

    .nav {
        display: flex;
        flex-direction: column;
        height: 23%;
    }

    .portfolio {
        width: 80%;
        height: 70%;
    }

    .v1 {
        height: 100%;
    }

    .portfolio .text {
        font-size: 3rem;
        left: 1.8rem;
    }

    .navbar {
        padding: 15px;
        gap: 3.5vw;
    }

    .dp1back {
        height: 50%;
    }

    .main1text,
    .secline {
        font-size: 2.4rem;
        width: 100vw;
        word-break: break-word;
    }

    .main1-content {
        display: flex;
        flex-direction: column;
    }

    .main1text {
        padding: 1rem;
    }

    .secline {
        font-size: 4rem;
    }

    .main1body {
        width: 100%;
        height: 50%;
    }

    .high::before {
        border-radius: 10px;
        bottom: -5px;
        width: 90%;
        left: 5px;
    }

    .v5 {
        width: 60%;
        padding-top: 5%;

    }

    .dp2 {
        height: 40%;
        left: 30px;
    }

    .v4 {
        height: 100%;
        width: 100%;
    }

    .main2bottom {
        height: 8%;
        width: 150%;
        transform: translateX(12%);
    }

    .why {
        transform: translateX(-10%);
    }

    .line1 {
        flex-direction: column;
        width: 100%;
        line-height: 1.5;
    }

    .iam {
        line-height: 1.5;
    }

    .line2 {
        width: 100%;
    }

    .line3 {
        flex-direction: column;
        line-height: 1;
    }

    .main2text {
        padding-left: 10%;
        transform: translateY(3rem);
    }

    .main3 {
        height: 100vh;
    }

    .education {
        height: 50%;
        width: 90vw;
        padding: 20px;
    }

    .subbb1 {
        top: 5%;
        left: 50%;
    }

    .subb1 {
        font-size: 0.9rem;
        flex-direction: column;
    }

    .subb1 div:nth-child(2){
    font-size: 0.5rem;
}

    .subb2 {
        font-size: 0.7rem;
    }

    .primary {
        padding: 10px;
    }

    .secondary {
        padding: 10px;
    }

    .graduation {
        padding: 10px;
    }


    .experience {
        height: 50%;
        width: 90vw;
        padding: 20px;

    }

    .titl1,
    .titl2 {
        width: 50%;
    }

    .mainbox1 {
        height: 60%;
    }

    .v8 {
        border-radius: 2rem;
    }

    .innerbox,
    .innerbox2 {
        height: 80%;
    }

    .mainbox2 {
        height: 60%;
    }

    .main5 {
        overflow-x: hidden;
    }

    .bodycontent {
        width: 95%;
        height: 62%;
    }

    .main5-title {
        top: 5rem;
    }

    .titlesss {
        gap: 0.5rem;
    }

    .probox {
        border-radius: 1rem 1rem 0 0;
    }

    .probox.dominant {
        height: 4rem;
    }

    .probox:not(.dominant) {
        height: 2.5rem;
    }

    body {
        overflow-x: hidden;
    }

    .main5 {
        overflow-x: hidden;
        height: 97vh;
    }

    .bodycontent {
        width: 95%;
        height: 70%;
    }

    .main5-title {
        top: 4rem;
    }

    .titlesss {
        gap: 0.5rem;
        overflow-x: hidden;
    }

    .probox {
        border-radius: 1rem 1rem 0 0;
    }

    .probox.dominant {
        height: 4rem;
    }

    .probox:not(.dominant) {
        height: 2.5rem;
    }

    .container {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 0rem;
        height: 100%;
    }

    /* .container video {
        width: 32%;
        height: auto;
    } */

    .main6-part1 {
        height: 65%;
    }

    .media-box {
        height: 30%;
        padding-left: 0;
        justify-content: center;
    }

    .part1-text-container {
        width: 80%;
        top: 10%;
        left: 5%;
        transform: translate(0, 0px);
        line-height: 0.8;
    }

    .main6-part2 {
        height: 35%;
    }

    .masonry {
        columns: 2;
    }

    .thoragap {
        height: 10vh;
    }

    .rocket {
        width: 106%;
        top: 43%;
        left: 5%;
    }
}